.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.5fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; }




    .Texte-labeur { grid-area: 1 / 2 / 3 / 3; }

    .chapitre { 
    /* grid-area: 1 / 2 / 3 / 2;*/
    font-size: 120px;
    text-align: left;
    line-height: 120%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 23%;
    color:rgb(54, 54, 54)}


    .date { 
/*  grid-area: 1 / 2 / 3 / 2; */
text-align: left;
line-height: 120%;
margin-left: 5%;
margin-right: 5%;
margin-top: 23%;
    font-size: 60px;
    color:rgb(54, 54, 54);
 }

      
.row:after {
        content: "";
        display: table;
        clear: both;}