/* .container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
     grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; }




    .Texte-labeur { grid-area: 1 / 2 / 3 / 3; }

      
.row:after {
        content: "";
        display: table;
        clear: both;}

.container {
            display: grid; 
            grid-template-columns: 2fr 2fr; 
            grid-template-rows: 2fr 2fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              "left right right"
             ; 
          }

          .left { grid-area: left; 
            padding-left: 3rem;
        }
          .right { grid-area: right; 
        } */

        main {
          display: grid; 
          grid-template-columns: 1fr 1fr;   
          grid-template-rows: auto;
          }
          
          /*p { 
            grid-area: right;
            display: grid;
            grid-column-start: 2;
          }*/
          
          .date {
          font-weight: 800;
          grid-column-start: 1;
          grid-column-end: 2;
          margin-top: 73%;
          }
          
          blockquote {
              font-size: 2em;
              font-style: italic;
              padding: 4px;
              /*background: #efefef;*/
              grid-column: span 2;
          }

          .container 
          {grid-area: right;
          display: grid;
          grid-column-start: 2;

          }

          .textelabeur{
          grid-area: right;
          display: grid;
          grid-column-start: 2;
          margin-top: 50%;
          }