
@import "reset.css";
@import "base.css";
@import "nuit.css";
@import "typo_test.css";
 @import "titles.css";
 @import "layout.css";
 @import "credits.css";
 @import "paragraphes.css";
 @import "navigation.css";


 html {font-size: 100%;}

 * {
  box-sizing: border-box;
}

body {
background-color:rgb(233, 233, 233);


}

header {
  margin-top : 2em;
  margin-bottom: 3em;
}



        