nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    margin-bottom: 10em;
    margin-top: 2em; 
    text-align: center;
  }
  
  nav li {
    font-size: 250px;
    font-family: "Sprat_Variable";
    font-weight: 10;
    line-height: 1.2;
    flex-basis: 17vw;
    flex-shrink: 1;
    flex-grow: 0;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(54, 54, 54); 
    display: block;
  }

  nav a:visited {
    color: rgb(54, 54, 54);
  }
  