
body.light-theme,
body.light-theme h1, 
body.light-theme h2, 
body.light-theme h3, 
body.light-theme .title-main, 
body.light-theme .chapitre, 
body.light-theme .date, 
body.light-theme .title-author, 
body.light-theme .title-date 
{
  color : var(--bkg-color);
  background-color: var(--text-color);
}

body.dark-theme,
body.dark-theme h1, 
body.dark-theme h2, 
body.dark-theme h3, 
body.dark-theme .title-main, 
body.dark-theme .chapitre, 
body.dark-theme .date, 
body.dark-theme .title-author, 
body.dark-theme .title-date
{
  color : var(--text-color);
  background-color: var(--bkg-color);
} 

@media (prefers-color-scheme: dark) 
{ /*defaults to dark theme*/
  body.dark-theme,
  body.dark-theme h1, 
  body.dark-theme h2, 
  body.dark-theme h3, 
  body.dark-theme .title-main, 
  body.dark-theme .chapitre, 
  body.dark-theme .date, 
  body.dark-theme .title-author, 
  body.dark-theme .title-date 
 {color : var(--text-color);
  background-color: var(--bkg-color); } }

body.light-theme,
body.light-theme h1, 
 body.light-theme h2,
 body.light-theme h3, 
 body.light-theme .title-main, 
 body.light-theme .chapitre, 
 body.light-theme .date, 
 body.light-theme .title-author, 
 body.light-theme .title-date 
 {
  color : var(--bkg-color);
  background-color: var(--text-color);
  }





