p{
  font-size: 25px;
    text-align: left;
    font-family:'Golos Text', sans-serif;
    line-height: 140%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    /* <length> values */
  text-indent: -6mm;
  text-indent: 60px;
  /*grid-area: right;
  display: grid;
  grid-column-start: 2;*/

  /*color:rgb(54, 54, 54)*/
  }

  blockquote { 
    margin-left: 10%;
    margin-right: 10%;
    grid-column: span 2;
    /*margin-top: 435%;*/
    font-family: 'Sprat_Variable';
    font-family: "Sprat_Variable";
    font-stretch: 5% 20%;
    font-weight: 10;
    font-size: 35px; 
    /*color: rgb(54, 54, 54);*/
  }