p{
  font-size: 25px;
    text-align: left;
    font-family:'Golos Text', sans-serif;
    line-height: 140%;
    margin-right: 10%;
  text-indent: -6mm;
  text-indent: 60px;
  margin-bottom: 5%;
  }

  blockquote { 
    margin-left: 5%;
    margin-right: 5%;
    grid-column: span 2;
    /*margin-top: 435%;*/
    font-family: 'Sprat_Variable';
    font-family: "Sprat_Variable";
    font-stretch: 5% 20%;
    font-weight: 10;
    font-size: 35px; 
  }