
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

 @font-face {
        font-family: "Sprat_Variable";
        src: url("typo/Sprat_Variable.ttf") format('truetype');
        font-stretch: 0% 100%;}
        

h1, h2, h3, h4, .date, .chapitre {
    font-family: "Sprat_Variable";
    /* font-stretch: 0% 100%;*/
    font-variation-settings: 'wght' 100, 'wdth' 100;} 

p { font-family:'Golos Text', sans-serif; }