@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&display=swap');

@font-face {
    font-family: "le-murmure";
    src: url("typo/le-murmure.otf") format('opentype');
    font-weight: medium;
    font-stretch: normal;}