
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&display=swap');

@font-face {
    font-family: "le-murmure";
    src: url("typo/le-murmure.otf") format('opentype');
    font-weight: medium;
    font-stretch: normal;}

    @font-face {
        font-family: "NeueHaasUnicaPro";
        src: url("typo/NeueHaasUnicaPro.otf") format('opentype');
        font-weight: normal;
        font-stretch: normal;}

h1, h2, h3, h4, .date, .chapitre {
    font-family: "le-murmure";
} 

body { 
    font-family: "IBM Plex Serif";
}